* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

/*  CONTACT INFO - start  */

.contact-body {
    clear: both;
    width: 90%;
    margin: 0 auto;
}

.contact-p1 {
    width: 90%;
    margin: 0 auto;

    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;

    text-decoration: none;
    text-align: center;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.contact-p1 a {
    text-decoration: none;
    color: #000000;
    text-align: center;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.contact-p1 a:visited {
    color: #000000;
}

.contact-p1 a:hover {
    /*color: #ff0000;*/  /*  Color = red  */
    color: #1aa3ff;
}

/*  CONTACT INFO - end  */
