
/*  DESCRIPTION - start  */

.description {
    width: 100%;
    margin: auto;

    padding-top: 5px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 5px;

    text-align: center;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.github-link {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.github-link:visited {
    color: #000000;
}

.github-link:hover {
    /*color: #ff0000;*/  /*  Color = red  */
    color: #1aa3ff;
}

/*  DESCRIPTION - end  */
/*  PROJECT TILES - start  */

.main-content {
    max-width: 1000px;
    margin: auto;
}

.row {
    margin: 8px -16px;
}

/* Add padding between each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that float next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: #ffffff;
    padding: 10px;
    border: 2px #000000 solid;
}

.proj-img {
    display: block;
    margin: auto;
    width: 70%;
    padding-bottom: 8px;
}

.proj-header {
    text-align: center;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 2px;
}

.proj-description {
    text-align: justify;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}










